<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355458876578-ed4vvmph13j18laorevgaphq6tu89afn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355458876578-ed4vvmph13j18laorevgaphq6tu89afn</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkO10PGMmGF5YyrZ7jzQJPg2jbu1lTKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>355458876578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f9133</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f9133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355458876578:ios:1bc39af21f446f91e183fb</string>
</dict>
</plist>